body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  padding-top: 200px;
}
.board {
  margin: 0 auto;
  width: 300px;
  border: 1px solid #ccc;
  padding: 4px;
}

.boardTitle {
  text-align: center;
  font-size: large;
  font-weight: bold;
  margin-bottom: 10px;
  width: 100%;
  display: inline-block;
}
ul {
  padding-inline-start: 0px;
}
li {
  list-style: none;
  width: 100%;
  margin-bottom: 2px;
}

li:nth-child(odd) {
  background-color: #ccc;
}